<section class="flex flex-col justify-center items-center pt-10 scroll-m-4">

    <div class="flex">
        <h2>
            A Moda da casa... 👇😁
        </h2>
    </div>
    <div class="w-5/6 pt-3">
        <img src="../../../../assets/img/cupcake-chocolate.png" alt="cupcake-chocolate">
    </div>
    <div class="flex flex-col justify-center items-center pt-6">
        <h2 class="pb-3">
            CUPCAKE
        </h2>
        <p class="pb-3 px-3 text-center max-md:text-[1rem]">
            Os melhores bolinhos da região Leste de Minas, vai deixar passar essa??
        </p>
    </div>
    <div class="buttons w-2/6 flex flex-row justify-evenly items-center">
        <div class="p-6max-md:p-3">
            <button class="">
                <span class="button_top max-md:text-[0.8rem]"> Adquira já! </span>
            </button>
        </div>
        <div class="p-6 max-md:p-3">
            <button class="">
                <span class="button_top max-md:text-[0.8rem]"> Ver detalhes... </span>
            </button>
        </div>
    </div>

</section>