<section class="flex flex-col justify-center items-center pt-10 scroll-m-4">

    <div class="flex">
        <h2 class="text-center">
            E para alegrar seu dia 🎁✨ ESPECIAL ✨🎁
        </h2>
    </div>
    <div class="w-5/6 pt-3">
        <img src="../../../../assets/img/bolos-aniversario.png" alt="bolo-aniversário">
    </div>
    <div class="flex flex-col justify-center items-center pt-6">
        <h2 class="pb-3">
            BOLOS DE ANIVERSÁRIO
        </h2>
        <p class="pb-3 px-3 text-center max-md:text-[1rem]">
            Os mais confeitados, os mais gostosos e cabe dentro do bolso!!
        </p>
    </div>
    <div class="buttons w-2/6 flex flex-row justify-evenly items-center">
        <div class="p-6max-md:p-3">
            <button class="">
                <span class="button_top max-md:text-[0.8rem]"> Adquira já! </span>
            </button>
        </div>
        <div class="p-6 max-md:p-3">
            <button class="">
                <span class="button_top max-md:text-[0.8rem]"> Ver detalhes... </span>
            </button>
        </div>
    </div>

</section>