<section class="flex flex-col justify-center items-center scroll-m-4">
    <h2 class="p-3">
        <span class="text-[2rem] max-md:text-sm">DESCONTOS DE ATÉ 10% </span>
        <a href="#" class="underline max-md:text-sm">confira agora!!</a>
    </h2>
    <div class="w-5/6 pt-3">
        <img class="w-26 h-full" src="../../../../assets/img/bolo-morango.png" alt="bolo-morango">
    </div>
    <div class="details flex flex-col justify-center items-center p-3">
        <h2 class="pb-3">
            BOLOS CONFEITADOS
        </h2>
        <p class="pb-3 px-3 text-center max-md:text-[1rem]">
            Bolos lindos do jeito que sua fome pedir ou até mesmo os seus OLHOS!!
        </p>
    </div>
    <div class="buttons w-2/6 flex flex-row justify-evenly items-center">
        <div class="p-6max-md:p-3">
            <button class="">
                <span class="button_top max-md:text-[0.8rem]"> Adquira já! </span>
            </button>
        </div>
        <div class="p-6 max-md:p-3">
            <button class="">
                <span class="button_top max-md:text-[0.8rem]"> Ver detalhes... </span>
            </button>
        </div>
    </div>
</section>