<section class="flex flex-col justify-center items-center scroll-m-4">

    <div class="flex">
        <h2 class="text-center">
            Algo mais rápido e simples??
        </h2>
    </div>
    <div class="w-5/6 pt-3">
        <img class="w-26 h-full" src="../../../assets/img/brownies-1.png" alt="bolo-morango">
    </div>
    <div class="details flex flex-col justify-center items-center p-3">
        <h2 class="pb-3">
            BROWNIES
        </h2>
        <p class="pb-3 px-3 text-center max-md:text-[1rem]">
            Brownies fofinhos e deliciosos, crocante por fora e macio por dentro 😍!
        </p>
    </div>
    <div class="buttons w-2/6 flex flex-row justify-evenly items-center">
        <div class="p-6max-md:p-3">
            <button class="" [routerLink]="[id, type]">
                <span class="button_top max-md:text-[0.8rem]"> Adquira já! </span>
            </button>
        </div>
        <div class="p-6 max-md:p-3">
            <button class="">
                <span class="button_top max-md:text-[0.8rem]"> Ver detalhes... </span>
            </button>
        </div>
    </div>
</section>