<section class="m-10 flex flex-row justify-center items-center border-2 border-black">

    <div class="flex flex-col justify-center items-center">

        <div>
            <p>
                {{ titleData }}
            </p>
            <p>
                {{subtiltleData}}
            </p>
        </div>

        <img class="w-3/4 " src="{{imgData}}" alt="beccah bakery">

    </div>
    <div class="flex flex-col justify-center items-center">

        <p>
            {{textData}}
        </p>
        <p>
            Aqui é só um teste de texto curto que stou fazendo, a ideia é adicionar um texto fixo sobre o produto e
            adicionar mais imagens
        </p>

    </div>

</section>