<section class="flex flex-col justify-center items-center ">
    <h2 class="p-3">
        <span class="text-[2rem] max-md:text-sm">DESCONTOS DE ATÉ 10% </span>
        <a href="#" class="underline max-md:text-sm">confira agora!!</a>
    </h2>
    <div class="w-5/6 pt-3">
        <img class="w-26 h-full" src="../../../../assets/img/bolo-morango.png" alt="bolo-morango">
    </div>
    <div class="details flex flex-col justify-center items-center p-3">
        <h2 class="pb-3">
            BOLOS CONFEITADOS
        </h2>
        <p class="pb-3">
            Bolos lindos do jeito que sua fome pedir ou até mesmo os seus OLHOS!!
        </p>
    </div>
    <div class="buttons w-2/6 flex justify-evenly items-center">
        <div class="p-6">
            <button>
                <span class="button_top"> Adquira já! </span>
            </button>
        </div>
        <div class="p-6">
            <button>
                <span class="button_top"> Ver detalhes... </span>
            </button>
        </div>
    </div>
</section>