<!-- Home page in HTML where get all components -->

<section class="flex flex-col justify-center items-center scroll-m-4">

    <h2 class="p-3">
        <span class="text-[2rem] max-md:text-sm">DESCONTOS DE ATÉ 10% </span>
        <a href="#" class="underline max-md:text-sm">confira agora!!</a>
    </h2>
    <div class="flex w-full" *ngFor="let item of data">

        <section id="{{ item.type }}" class="flex flex-col justify-center items-center scroll-m-4">

            <div class="flex">
                <h2 class="text-center">
                    {{ item.text }}
                </h2>
            </div>
            <div class="w-5/6 pt-3">
                <img class="w-26 h-full" src="{{ item.img }}" alt="bolo-morango">
            </div>
            <div class="details flex flex-col justify-center items-center p-3">
                <h2 class="pb-3">
                    {{ item.title }}
                </h2>
                <p class="pb-3 px-3 text-center max-md:text-[1rem]">
                    {{ item.subtitle }}
                </p>
            </div>
            <div class="buttons w-2/6 flex flex-row justify-evenly items-center">
                <div class="p-6max-md:p-3">
                    <button class="" [routerLink]="[ item.type ]">
                        <span class="button_top max-md:text-[0.8rem]"> Adquira já! </span>
                    </button>
                </div>
                <div class="p-6 max-md:p-3">
                    <button class="">
                        <span class="button_top max-md:text-[0.8rem]"> Ver detalhes... </span>
                    </button>
                </div>
            </div>
        </section>
    </div>

</section>



<!-- <div class="flex flex-col items-center justify-center w-auto">
    <section id="bolos" class="w-full cake-section">
        <app-cake></app-cake>
    </section>
    <section id="doces" class=" w-full candy-section">
        <app-candy></app-candy>
    </section>
    <section id="cupcake" class="w-full cupcake-section">
        <app-cupcake></app-cupcake>
    </section>
    <section id="cake-birthday" class="w-full cupcakcake-birthday-section">
        <app-cake-birthday></app-cake-birthday>
    </section>
    <section id="brownie" class="w-full brownie-section">
        <app-brownie></app-brownie>
    </section>
    <section id="roscas" class="w-full donuts-section">
        <app-donuts></app-donuts>
    </section>
</div> -->