<!-- Home page in HTML where get all components -->

<div class="flex flex-col items-center justify-center w-auto">
    <section id="bolos" class="w-full cake-section">
        <app-cake></app-cake>
    </section>
    <section id="doces" class=" w-full candy-section">
        <app-candy></app-candy>
    </section>
    <section id="cupcake" class="w-full cupcake-section">
        <app-cupcake></app-cupcake>
    </section>
    <section id="cake-birthday" class="w-full cupcakcake-birthday-section">
        <app-cake-birthday></app-cake-birthday>
    </section>
    <section id="brownie" class="w-full brownie-section">
        <app-brownie></app-brownie>
    </section>
    <section id="roscas" class="w-full donuts-section">
        <app-donuts></app-donuts>
    </section>
</div>