<section class="flex flex-col justify-center items-center pt-10">

    <div>
        <h3>
            Mas também temos...
        </h3>
    </div>
    <div class="w-5/6 pt-3">
        <img src="../../../../assets/img/docinhos-festa.png" alt="docinhos-festa">
    </div>
    <div class="flex flex-col justify-center items-center pt-6">
        <h2 class="pb-3">
            DOCINHOS DE FESTA
        </h2>
        <p class="pb-3">
            Doces maravilhosos e deliciosas para alegrar suas festas!!
        </p>
    </div>
    <div class="buttons w-2/6 flex justify-evenly items-center">
        <div class="p-6">
            <button>
                <span class="button_top"> Adquira já! </span>
            </button>
        </div>
        <div class="p-6">
            <button>
                <span class="button_top"> Ver detalhes... </span>
            </button>
        </div>
    </div>

</section>